* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web';
    background-color: #f4f4f4;
    height: 1600px;
    padding-bottom: 50px;
}

.wrapper {
    width: 1330px;
    height: 1400px;
    margin-left: 350px;
    margin-right: 350px;
}

li,
a,
button {
    font-size: 20px;
    color: #ddd;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    padding-top: 20px;
    background-color: #2b2b2b;
}

#Logo {
    padding-bottom: 20px;
    width: 150px;
    height: 25px;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: rgb(7, 178, 16);
}

.cta {
    padding: 6px 45px;
    background-color: rgba(7, 178, 16, 0.9);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgb(7, 178, 16, 0.8);
}

#Logo {
    padding-bottom: 20px;
    width: 180px;
    height: 35px;
}

.stockTitle {
    text-align: center;
    padding-top: 20px;
}

.technical {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper_2 {
    width: 1330px;
    height: 185px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    background-color: #454545;
    text-align: center;
    color: #ddd;
}

h4 {
    color: white;
    font-size: 20px;
}

p {
    color: #a6a6a6;
    font-size: 10px;
}

#bottomLogo {
    width: 120px;
    height: 35px;
    float: left;
}

#wrapper_background {
    width: 900px;
    height: 125px;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}