    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Titillium Web';
        background-color: #f4f4f4;
        background-size: cover;
        height: 1600px;
        padding-bottom: 50px;
    }
    /*Top Navigation BEGIN */
    
    nav {
        padding-top: 15px;
        height: 40px;
        margin-bottom: 20px;
        background-color: #2b2b2b;
    }
    
    #Logo {
        float: left;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 40px;
        width: 140px;
        height: 25px;
    }
    
    .links {
        list-style: none;
    }
    
    li,
    a,
    button {
        font-size: 20px;
        color: #ddd;
        text-decoration: none;
        list-style: none;
    }
    
    .links li {
        display: inline;
        padding: 0px 20px;
    }
    
    .links li a:hover {
        color: rgb(7, 178, 16);
    }
    /* The search field BEGIN*/
    
    .dropbtn {
        margin: 0;
    }
    
    #myInput {
        font-size: 16px;
        padding: 10px;
        border: none;
        background-color: #2b2b2b;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        border: 1px solid #ddd;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    
    .show {
        display: block;
    }
    /* The search field END */
    /* Top Navigation END */
    /* Page Content BEGIN */
    
    .wrapper_main {
        width: 1600px;
        height: 2400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #toptitle {
        width: 40%;
        text-align: left;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 50%;
        font-size: 70px;
        margin-top: 1px;
        margin-right: 800px;
        border-right: 0px;
        margin-right: 0px;
    }
    
    h2 {
        text-align: left;
        color: black;
    }
    
    .btn {
        font-family: 'Titillium Web';
        font-style: normal;
        display: inline-flex;
        position: relative;
        text-align: center;
        height: 60px;
        padding: 0 130px;
        color: #fff;
        background-color: #15b232;
        border-radius: 25px;
        border: 0px;
        font-size: 30px;
        font-weight: 20px;
        cursor: pointer;
        margin-bottom: 150px;
        margin-left: 60px;
    }
    
    .btn:hover {
        background: #ddd;
        color: black;
    }
    
    #description {
        padding-top: 150px;
        padding-left: 5%;
        padding-bottom: 200px;
    }
    
    #desc_text {
        font-size: 30px;
        font-weight: 200;
        text-align: center;
        width: 500px;
        color: #b8b8b8;
    }
    
    #phone {
        max-width: 30%;
        padding-right: 20%;
        padding-top: 0px;
        float: right;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
    }
    /*Sections BEGIN */
    
    .allsections {
        margin-top: 150px;
        width: 100%;
        height: 40%;
        padding-bottom: 50px;
    }
    
    section {
        float: left;
        font-size: 27px;
        border-radius: 15px;
        width: 150px;
        text-align: center;
    }
    
    p {
        margin-top: 10%;
        font-size: 20px;
        color: #363636;
    }
    
    #first {
        margin-left: 15%;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 6s;
        width: 300px;
        height: 510px;
        margin-right: 90px;
    }
    
    #second {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 6s;
        width: 300px;
        height: 500px;
        margin-right: 90px;
    }
    
    #third {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 6s;
        width: 300px;
        height: 500px;
        margin-right: 90px;
    }
    
    #fourth {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 6s;
        width: 300px;
        height: 500px;
        margin-right: 90px;
    }
    
    #PriceIcon {
        margin-top: 10px;
        width: 130px;
        opacity: 40%;
    }
    
    #alert {
        opacity: 40%;
        margin-top: 10px;
        width: 130px;
    }
    
    #NewsIcon {
        opacity: 40%;
        margin-top: 10px;
        width: 130px;
    }
    
    #ToolsIcon {
        opacity: 40%;
        margin-top: 10px;
        width: 130px;
    }
    
    @-webkit-keyframes fade {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
    /*Sections END */
    /* Page Content END */
    /*Footer BEGIN */
    
    .wrapper_footer {
        width: 100%;
        height: auto;
        margin-top: 50px;
        background-color: #454545;
        text-align: center;
        color: #ddd;
    }
    
    #disclosure {
        margin: 0px;
        color: #a6a6a6;
        font-size: 10px;
    }
    /*Footer END */